.todo-container {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 767px) {
		flex-direction: row;
	}

	> * {
		flex-basis: 100%;

		@media screen and (min-width: 767px) {
			flex-basis: 30%;
		}
	}
}
