body {
	width: 100vw;
	height: 100vh;
}

// * {
// 	outline: 1px solid red;
// }

#root {
	height: 100vh;
}

p {
	margin-bottom: 0;
}

p,
li {
	font-weight: 600;
	color: #fff;
}

input[type='checkbox'] {
	margin-right: 0.3rem;
}

select {
	margin-bottom: 1rem;
	width: 10rem;
	padding: 0.25rem 0.35rem;
	background: none;
	border: 1px solid #000;
}
