/* Color Theme Swatches in Hex */
$Task-App-For-Kids---A-UX-Case-Study-1-hex: #f2f2f2;
$Task-App-For-Kids---A-UX-Case-Study-2-hex: #3204d9;
$Task-App-For-Kids---A-UX-Case-Study-3-hex: #2cbf42;
$Task-App-For-Kids---A-UX-Case-Study-4-hex: #21d904;
$Task-App-For-Kids---A-UX-Case-Study-5-hex: #8c3f23;

/* Color Theme Swatches in RGBA */
$Task-App-For-Kids---A-UX-Case-Study-1-rgba: rgba(242, 242, 242, 1);
$Task-App-For-Kids---A-UX-Case-Study-2-rgba: rgba(50, 4, 216, 1);
$Task-App-For-Kids---A-UX-Case-Study-3-rgba: rgba(43, 191, 66, 1);
$Task-App-For-Kids---A-UX-Case-Study-4-rgba: rgba(32, 216, 4, 1);
$Task-App-For-Kids---A-UX-Case-Study-5-rgba: rgba(140, 63, 35, 1);

/* Color Theme Swatches in HSLA */
$Task-App-For-Kids---A-UX-Case-Study-1-hsla: hsla(0, 0, 95, 1);
$Task-App-For-Kids---A-UX-Case-Study-2-hsla: hsla(253, 96, 43, 1);
$Task-App-For-Kids---A-UX-Case-Study-3-hsla: hsla(129, 62, 46, 1);
$Task-App-For-Kids---A-UX-Case-Study-4-hsla: hsla(112, 96, 43, 1);
$Task-App-For-Kids---A-UX-Case-Study-5-hsla: hsla(16, 60, 34, 1);

/* -------------------------------------------------------------------------------- */

/* Color Theme Swatches in Hex */
$Spending-highlights-for-Raiffeisen-Bank-clients-1-hex: #5c8ef2;
$Spending-highlights-for-Raiffeisen-Bank-clients-2-hex: #f2c230;
$Spending-highlights-for-Raiffeisen-Bank-clients-3-hex: #f2d680;
$Spending-highlights-for-Raiffeisen-Bank-clients-4-hex: #f2dfa7;
$Spending-highlights-for-Raiffeisen-Bank-clients-5-hex: #a66d03;

/* Color Theme Swatches in RGBA */
$Spending-highlights-for-Raiffeisen-Bank-clients-1-rgba: rgba(92, 142, 242, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-2-rgba: rgba(242, 193, 48, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-3-rgba: rgba(242, 213, 128, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-4-rgba: rgba(242, 223, 167, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-5-rgba: rgba(165, 108, 3, 1);

/* Color Theme Swatches in HSLA */
$Spending-highlights-for-Raiffeisen-Bank-clients-1-hsla: hsla(219, 85, 65, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-2-hsla: hsla(45, 88, 56, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-3-hsla: hsla(45, 81, 72, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-4-hsla: hsla(44, 74, 80, 1);
$Spending-highlights-for-Raiffeisen-Bank-clients-5-hsla: hsla(39, 96, 33, 1);

/* -------------------------------------------------------------------------------- */

/* Color Theme Swatches in Hex */
$Mobile-app-icons-1-hex: #d955b5;
$Mobile-app-icons-2-hex: #643df2;
$Mobile-app-icons-3-hex: #1bf2a3;
$Mobile-app-icons-4-hex: #f29422;
$Mobile-app-icons-5-hex: #f25252;

/* Color Theme Swatches in RGBA */
$Mobile-app-icons-1-rgba: rgba(216, 84, 181, 1);
$Mobile-app-icons-2-rgba: rgba(99, 60, 242, 1);
$Mobile-app-icons-3-rgba: rgba(26, 242, 163, 1);
$Mobile-app-icons-4-rgba: rgba(242, 148, 33, 1);
$Mobile-app-icons-5-rgba: rgba(242, 82, 82, 1);

/* Color Theme Swatches in HSLA */
$Mobile-app-icons-1-hsla: hsla(315, 63, 59, 1);
$Mobile-app-icons-2-hsla: hsla(253, 87, 59, 1);
$Mobile-app-icons-3-hsla: hsla(157, 89, 52, 1);
$Mobile-app-icons-4-hsla: hsla(33, 89, 54, 1);
$Mobile-app-icons-5-hsla: hsla(0, 86, 63, 1);

/* -------------------------------------------------------------------------------- */

/* Color Theme Swatches in Hex */
$Qastor-—-Precise-Navigation-1-hex: #0554f2;
$Qastor-—-Precise-Navigation-2-hex: #c2d2f2;
$Qastor-—-Precise-Navigation-3-hex: #f2e41b;
$Qastor-—-Precise-Navigation-4-hex: #8c8c8c;
$Qastor-—-Precise-Navigation-5-hex: #262626;

/* Color Theme Swatches in RGBA */
$Qastor-—-Precise-Navigation-1-rgba: rgba(4, 83, 242, 1);
$Qastor-—-Precise-Navigation-2-rgba: rgba(193, 209, 242, 1);
$Qastor-—-Precise-Navigation-3-rgba: rgba(242, 227, 26, 1);
$Qastor-—-Precise-Navigation-4-rgba: rgba(140, 140, 140, 1);
$Qastor-—-Precise-Navigation-5-rgba: rgba(38, 38, 38, 1);

/* Color Theme Swatches in HSLA */
$Qastor-—-Precise-Navigation-1-hsla: hsla(219, 96, 48, 1);
$Qastor-—-Precise-Navigation-2-hsla: hsla(219, 65, 85, 1);
$Qastor-—-Precise-Navigation-3-hsla: hsla(56, 89, 52, 1);
$Qastor-—-Precise-Navigation-4-hsla: hsla(0, 0, 55, 1);
$Qastor-—-Precise-Navigation-5-hsla: hsla(0, 0, 15, 1);
