/* Color Theme Swatches in Hex */
$cl__default-bg: #643df2;
$cl__default-text: #f1a9a0;

$cl__orange-bg: rgba(242, 148, 33, 1);
$cl__orange-text: #050709;

$cl__blue-bg: #4289ff;
$cl__blue-text: #000;

$cl__pink-bg: #ff99e6;
$cl__pink-text: #003636;
